@import "~bootstrap/dist/css/bootstrap.min.css";

html, body {
  -webkit-tap-highlight-color: transparent;
}

#root {
  padding-bottom: 50px;
}

#appicon {
  background: url(../images/ios_icon.png);
}
#androidappicon {
  background: url(../images/android_icon.png);
}

.spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  z-index: 100000;
  .icon {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
    background: #FFFFFF url(../images/spinner.gif) no-repeat center center;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}

body {
  background: #1a1e2a url(../images/checker.png) repeat;
  font-family: 'STHeiti Light', 'STHeiti', 'SimHei', 'Microsoft YaHei', sans-serif;
  header {
    background: #272F3D;
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: 1px solid #060b19;
    line-height: 50px;
    color: #337ab7;
    .title {
      text-align: center;
    }
    .hamburger-menu {
      padding: 0 10px 0 0;
    }
    .logo {
      background: url(../images/logo.png) no-repeat center center;
      height: 50px;
      width: 50px;
      display: block;
    }
    .dropdown-toggle {
      padding: 0;
      text-align: center;
      height: 30px;
      width: 40px;
      background: #272F3D;
      color: white;
      margin-top: 0px;
      border-color: #060b19;
      &:hover, &:active, &:focus {
        text-decoration: none;
        background-color: #337ab7;
        color: white;
        border-color: #272F3D;
      }
    }
    .btn-group.open {
      .dropdown-toggle {
        text-decoration: none;
        background-color: #337ab7 !important;
        color: white !important;
        border-color: #272F3D !important;
      }
    }
    &.subheader {
      line-height: 50px;
      color: #337ab7;
      /** position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      margin: 0;
      z-index: 10; */
      .badge {
        background: #CC0000;
        color: white;
        border-radius: 5px;
        line-height: 17px;
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 15px;
      }
      .btn {
        height: 30px;
        margin: 10px 0;
        &.btn-primary, &.btn-danger {
          width: 100%;
        }
        &.btn-danger {
          .badge {
            border: 1px solid #990000;
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
          }
        }
        &.btn-link {
          margin-top: 0;
          line-height: 40px;
        }
      }
      .button-col {
        padding-left: 0;
      }
      .secondary-button-col {
        padding-left: 15px;
        .btn-group {
          width: 100%;
          .btn {
            width: 50%;
            background-color: #1e395e;
            color: white;
            border-color: #182946 !important;
            &:disabled {
              color: #999999;
            }
          }
        }
      }
    }
  }
}

.toast {
  position: fixed;
  bottom: 50px !important;
  left: 50% !important;
  top: auto !important;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  background: rgba(0,0,0,0.4);
  border-radius: 10px;
  color: white;
  z-index: 100;
  text-shadow: 0 0 2px rgba(0,0,0,0.8);
  font-size: 14px;
  line-height: 18px;
  padding: 10px;
}

.tableGrid {
  margin-top: 15px;
  .tableCell {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    .content {
      background-color: #171c26;
      text-align: center;
      height: 80px;
      line-height: 80px;
      font-size: 15px;
      color: #c1d1d9;
      border-radius: 10px;
      border: dashed 2px #2a4766;
      box-shadow: inset 3px 0 3px rgba(10, 19, 30, 0.7), inset 0 3px 3px rgba(10, 19, 30, 0.7), inset -3px 0 3px rgba(10, 19, 30, 0.7), inset 0 -3px 3px rgba(10, 19, 30, 0.7);
      &:active {
        background-color: #2a4766;

      }
    }
    &.occupied {
      .content {
        background-color: #293844;
        border: solid 1px #2f5070;
        color: #ffffff;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
      }
    }
  }
  .carousel {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .closeBtn {
    position: fixed;
    right: 10px;
    top: 10px;
    background: white;
    border: none;
    color: #272F3D;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }
}

.categories, .items, .subitems, .tags, .quantities {
  margin: 10px 0 0;
  padding: 0 0 10px;
  border-bottom: 1px dashed #2f5070;
  .category, .item, .quantity, .tag {
    margin: 5px 0;
    padding: 0 5px;
    position: relative;
    .content {
      color: #AAAAAA;
      background: #313B49;
      border: 1px solid #1A2028;
      border-radius: 5px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;
    }
    &.soldout {
      .content {
        background: #990000;
        color: #999999;
      }
    }
    .quantity {
      display: none;
    }
    &.selected {
      .content {
        color: white;
        border-color: white !important;
        background-color: #337ab7;
      }
    }
    &.contain {
      .quantity {
        position: absolute;
        right: -2px;
        top: -10px;
        background: #337ab7;
        color: white;
        display: block;
        border-radius: 5px;
      }
    }
    &:active {
      .content {
        background-color: #2a4766;
      }
    }
  }
}

.quantities {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #272F3D;
  padding: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  h1 {
    padding: 5px 5px;
  }
}


.categories, .items, .subitems, .tags, .quantities, .tableGrid{
  h1 {
    font-size: 15px;
    color: #CECECE;
    margin: 10px 0;
    .selectedItem {
      padding: 5px 10px;
      background: white;
      color: #2a4766;
      border-radius: 5px;
      margin-left: 10px;
    }
  }
  &.selecting-quantity {
    /** .item:not(.selected), .category:not(.selected) {
      display: none;
    } */
    .item, .category {
      display: none;
    }
  }
}

.receipt {
  background: white;
  margin-top: 15px;
  color: #333333;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  .itemCount {
    text-align: right;
    float: right;
  }
  table {
    margin-top: 20px;
    tr {
      th {
        border-width: 1px;
      }
      td {
        border: none;
      }
    }
    tr:last-of-type {
      td {
        border-bottom: 1px solid #ddd;
      }
    }
  }
  ul {
    list-style: none;
    padding: 20px 10px;
    border-top: 1px dashed #CECECE;
    border-bottom: 1px dashed #CECECE;
    li {
      padding: 5px 0;
      .price {
        float: right;
      }
      .btn {
        margin-right: 10px;
      }
      &.supplementary {
        color: #999999;
      }
    }
    &.editing {
      padding: 20px 0;
      li {
        padding: 10px 0;
      }
    }
  }
  p {
    padding: 0 5px;
    margin: 0 0 2px;
    text-align: left;
    .price {
      float: right;
    }
  }
  p.total {
    font-weight: bold;
    font-size: 25px;
    border-bottom: 1px solid #DDD;
    margin: 10px 0;
  }
  .btn-group {
    button {
      width: 50%;
    }
  }
}

.user-guide{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9;
  .close {
    background-image: url("../images/close.png");
    width: 25px;
    height: 26px;
    background-size: cover;
    margin-top: 130px;
    margin-right: 45px;
  }
}

.user-notification{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background-color: rgba(102, 102, 102, 0.3);
  z-index: 9;
}

.guide-welcome {
  background-image: url("../images/welcome.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  margin: 120px 25px;
}

.guide-step1 {
  background-image: url("../images/step1.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  height: 100vh;
  margin: 0 15%;
}

.guide-step2 {
  background-image: url("../images/step2.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  height: 100vh;
  margin: 0 15%;
}

.guide-step3 {
  background-image: url("../images/step3.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  height: 100vh;
  margin: 0 15%;
}

.guide-notification{
  .show-guide,.show-register{
    color: #FFFFFF;
    background-color: #E1892A;
    font-size: 16px;
    height: 30px;
    width: 25%;
    margin: 13px 10px;
    border: none;
    border-radius: 5px;
  }

  .close-notification{
    color: #E1892A;
    background-color: rgba(102, 102, 102, 0.1);
    font-size: 16px;
    height: 30px;
    width: 25%;
    margin: 13px 0px 13px 10%;
    border: 1px solid #E1892A;
    border-radius: 5px;
  }
}

.user-register {
  position: absolute;
  top: 15%;
  width: 86%;
  background-color: #FFFFFF;
  margin: 0 7%;
  text-align: center;
  border-radius: 5px;
  .title{
    color: #F2A80A;
    margin: 20px 0;
  }
  h5{
    color: #F2A80A;
    margin: 0 6% 20px ;
  }
  hr{
    margin-top:10px;
  }
  button,input{
    width: 88%;
    height: 44px;
    margin-bottom: 10px;
  }
  button,button:focus,button:active{
    color: #FFFFFF;
    background: #E8712D; /* Old browsers */
    background: -moz-linear-gradient(top,  #E1A342 0%, #CF572B 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, center top, center top, color-stop(0%,#E1A342), color-stop(100%,#CF572B)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #E1A342 0%,#CF572B 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #E1A342 0%,#CF572B 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #E1A342 0%,#CF572B 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #E1A342 0%,#CF572B 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E1A342', endColorstr='#CF572B',GradientType=1 ); /* IE6-9 */
    border: none;
  }
  input{
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #F1F1F1;
  }

  span{
    display: block;
    width: 88%;
    margin: 10px 6% 20px;
    color: #E95513;
    text-align: left;
  }
  span:before{
    content: url("../images/start.png");
    vertical-align: middle;
    display: inline-block;
  }
  input::-webkit-input-placeholder{text-align: center;}
  .close{
    position: absolute;
    right: 15px;
    top: 15px;
    margin:0;
    background-color: #ffffff;
  }
}