body {
  margin: 0;
  background-color: #EEEDF1;
}
body .booking-underline {
  border-bottom: 1px solid #CBCBCB;
}
body .info-order {
  background-image: url("../../images/order.png");
  background-size: 31px;
  background-repeat: no-repeat;
  height: 50px;
  line-height: 68px;
  background-position: 15px 18px;
}
body .info-order span {
  margin-left: 50px;
}
body .info-title {
  background-image: url("../../images/info.png");
  background-size: 31px;
  background-repeat: no-repeat;
  height: 50px;
  line-height: 68px;
  background-position: 15px 18px;
}
body .info-title span {
  margin-left: 50px;
}
body .booking-confirm {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
body .booking-confirm .confirm-body {
  text-align: center;
  background-color: white;
  padding: 20px;
  height: 100px;
  width: 240px;
  border-radius: 4px;
  margin: 180px auto;
}
body .booking-confirm .confirm-body span {
  display: block;
  font-size: 16px;
  color: #666666;
  margin-top: 20px;
}
body .booking-confirm .confirm-body button {
  background-color: #3BAAE1;
  width: 83px;
  height: 28px;
  border-radius: 4px;
  border: none;
  color: white;
  margin-top: 20px;
}
body .modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body .modal .modal-body {
  position: absolute;
  text-align: left;
  top: 100px;
  left: 10px;
  right: 10px;
  border: 1px solid #CBCBCB;
  background-color: white;
  padding: 0 15px;
  height: initial;
  box-shadow: #CBCBCB 0px 0px 2px 1px;
}
body .modal .modal-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body .modal .modal-body ul li {
  font-size: 16px;
  margin: 9px 0;
  width: 100%;
  height: 31px;
  color: #B3B3B3;
  padding: 5px;
}
body input,
body button,
body li,
body span,
body textarea,
body label {
  font-family: '黑体';
  color: #666666;
}
body .booking-cancel {
  position: absolute;
  top: 450px;
  left: 0;
  right: 0;
  text-align: center;
}
body .booking-cancel button {
  background-color: #EC8E26;
  width: 295px;
  height: 45px;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 16px;
}
body .booking-submit {
  position: absolute;
  top: 450px;
  left: 0;
  right: 0;
  text-align: center;
}
body .booking-submit button {
  background-color: #3BAAE1;
  width: 295px;
  height: 45px;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 16px;
}
body .booking-submit button.disabled {
  background-color: #CBCBCB;
}
body .booking-desc {
  border: 1px solid #CBCBCB;
  margin-top: 15px;
  background-color: white;
  padding: 0 15px;
  box-shadow: #CBCBCB 0px 0px 2px 1px;
}
body .booking-desc img {
  height: 19px;
  position: absolute;
  right: 15px;
  margin-top: 15px;
}
body .booking-desc .booking-data input {
  background-image: url('/images/data.png');
  background-repeat: no-repeat;
  background-size: 31px;
  padding-left: 50px;
}
body .booking-desc .booking-time input {
  background-image: url('/images/time.png');
  background-repeat: no-repeat;
  background-size: 31px;
  padding-left: 50px;
}
body .booking-desc .booking-data,
body .booking-desc .booking-time,
body .booking-desc .booking-table,
body .booking-desc .booking-description {
  width: 100%;
  height: 49px;
  line-height: 49px;
}
body .booking-desc .booking-data .table,
body .booking-desc .booking-time .table,
body .booking-desc .booking-table .table,
body .booking-desc .booking-description .table {
  font-size: 16px;
  height: 49px;
  display: block;
  line-height: 49px;
}
body .booking-desc .booking-data input,
body .booking-desc .booking-time input,
body .booking-desc .booking-table input,
body .booking-desc .booking-description input {
  outline: none;
  border: none;
  font-size: 16px;
  margin: 9px 0;
  width: 100%;
  height: 31px;
}
body .booking-desc .booking-data textarea,
body .booking-desc .booking-time textarea,
body .booking-desc .booking-table textarea,
body .booking-desc .booking-description textarea {
  outline: none;
  border: none;
  font-size: 16px;
  width: 100%;
  margin: 9px 0;
  height: 39px;
  padding: 0;
}
body .booking-info {
  border: 1px solid #CBCBCB;
  height: 98px;
  margin-top: 15px;
  background-color: white;
  padding: 0 15px;
  box-shadow: #CBCBCB 0px 0px 2px 1px;
}
body .booking-info.booking {
  height: 150px!important;
}
body .booking-info .booking-name,
body .booking-info .booking-phone,
body .booking-info .booking-gender {
  width: 100%;
  height: 49px;
  line-height: 49px;
  box-sizing: border-box;
}
body .booking-info .booking-name .male,
body .booking-info .booking-phone .male,
body .booking-info .booking-gender .male,
body .booking-info .booking-name .female,
body .booking-info .booking-phone .female,
body .booking-info .booking-gender .female {
  display: inline-block;
}
body .booking-info .booking-name .male .booking-checked,
body .booking-info .booking-phone .male .booking-checked,
body .booking-info .booking-gender .male .booking-checked,
body .booking-info .booking-name .female .booking-checked,
body .booking-info .booking-phone .female .booking-checked,
body .booking-info .booking-gender .female .booking-checked {
  display: none;
}
body .booking-info .booking-name .male .booking-check,
body .booking-info .booking-phone .male .booking-check,
body .booking-info .booking-gender .male .booking-check,
body .booking-info .booking-name .female .booking-check,
body .booking-info .booking-phone .female .booking-check,
body .booking-info .booking-gender .female .booking-check {
  display: inline;
}
body .booking-info .booking-name .male.checked .booking-checked,
body .booking-info .booking-phone .male.checked .booking-checked,
body .booking-info .booking-gender .male.checked .booking-checked,
body .booking-info .booking-name .female.checked .booking-checked,
body .booking-info .booking-phone .female.checked .booking-checked,
body .booking-info .booking-gender .female.checked .booking-checked {
  display: inline;
}
body .booking-info .booking-name .male.checked .booking-check,
body .booking-info .booking-phone .male.checked .booking-check,
body .booking-info .booking-gender .male.checked .booking-check,
body .booking-info .booking-name .female.checked .booking-check,
body .booking-info .booking-phone .female.checked .booking-check,
body .booking-info .booking-gender .female.checked .booking-check {
  display: none;
}
body .booking-info .booking-name img,
body .booking-info .booking-phone img,
body .booking-info .booking-gender img {
  width: 20px;
  margin-bottom: -4px;
}
body .booking-info .booking-name input,
body .booking-info .booking-phone input,
body .booking-info .booking-gender input {
  outline: none;
  border: none;
  font-size: 16px;
  margin: 9px 0;
  width: 100%;
  height: 31px;
}
