body {
  margin: 0;
  background-color: #EEEDF1;
  .booking-underline {
    border-bottom: 1px solid #CBCBCB;
  }
  .info-order{
    background-image: url("../../images/order.png");
    background-size: 31px;
    background-repeat: no-repeat;
    height: 50px;
    line-height: 68px;
    background-position: 15px 18px;
    span{
      margin-left: 50px;
    }
  }
  .info-title{
    background-image: url("../../images/info.png");
    background-size: 31px;
    background-repeat: no-repeat;
    height: 50px;
    line-height: 68px;
    background-position: 15px 18px;
    span{
      margin-left: 50px;
    }
  }
  .booking-confirm{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    .confirm-body{
      text-align: center;
      background-color: white;
      padding: 20px;
      height: 100px;
      width: 240px;
      border-radius: 4px;
      margin: 180px auto;
      span{
        display: block;
        font-size: 16px;
        color: #666666;
        margin-top: 20px;
      }
      button{
        background-color: #3BAAE1;
        width: 83px;
        height: 28px;
        border-radius: 4px;
        border: none;
        color:white;
        margin-top: 20px;
      }
    }
  }
  .modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .modal-body {
      position: absolute;
      text-align: left;
      top: 100px;
      left: 10px;
      right: 10px;
      border: 1px solid #CBCBCB;
      background-color: white;
      padding: 0 15px;
      height: initial;
      box-shadow: #CBCBCB 0px 0px 2px 1px;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          font-size: 16px;
          margin: 9px 0;
          width: 100%;
          height: 31px;
          color: #B3B3B3;
          padding: 5px;
        }
      }
    }
  }
  input, button, li, span, textarea,label {
    font-family: '黑体';
    color:#666666;
  }
  .booking-cancel{
    position: absolute;
    top: 450px;
    left: 0;
    right: 0;
    text-align: center;
    button {
      background-color: #EC8E26;
      width: 295px;
      height: 45px;
      border-radius: 4px;
      border: none;
      color: white;
      font-size: 16px;
    }
  }
  .booking-submit {
    position: absolute;
    top: 450px;
    left: 0;
    right: 0;
    text-align: center;
    button {
      &.disabled {
        background-color: #CBCBCB;
      }
      background-color: #3BAAE1;
      width: 295px;
      height: 45px;
      border-radius: 4px;
      border: none;
      color: white;
      font-size: 16px;
    }
  }
  .booking-desc {
    border: 1px solid #CBCBCB;
    margin-top: 15px;
    background-color: white;
    padding: 0 15px;
    box-shadow: #CBCBCB 0px 0px 2px 1px;
    img {
      height: 19px;
      position: absolute;
      right: 15px;
      margin-top: 15px;
    }
    .booking-data input {
      background-image: url('/images/data.png');
      background-repeat: no-repeat;
      background-size: 31px;
      padding-left: 50px;
    }
    .booking-time input {
      background-image: url('/images/time.png');
      background-repeat: no-repeat;
      background-size: 31px;
      padding-left: 50px;
    }

    .booking-data, .booking-time, .booking-table, .booking-description {
      width: 100%;
      height: 49px;
      line-height: 49px;
      .table{
        font-size: 16px;
        height: 49px;
        display: block;
        line-height: 49px;
      }
      input {
        outline: none;
        border: none;
        font-size: 16px;
        margin: 9px 0;
        width: 100%;
        height: 31px
      }
      textarea {
        outline: none;
        border: none;
        font-size: 16px;
        width: 100%;
        margin: 9px 0;
        height: 39px;
        padding: 0;
      }
    }
  }
  .booking-info {
    border: 1px solid #CBCBCB;
    height: 98px;
    margin-top: 15px;
    background-color: white;
    padding: 0 15px;
    box-shadow: #CBCBCB 0px 0px 2px 1px;
    &.booking{
      height: 150px!important;
    }
    .booking-name, .booking-phone ,.booking-gender{
      width: 100%;
      height: 49px;
      line-height: 49px;
      box-sizing: border-box;
      .male,.female{
        display: inline-block;
        .booking-checked{
          display: none;
        }
        .booking-check{
          display: inline;
        }
        &.checked{
          .booking-checked{
            display: inline;
          }
          .booking-check{
            display: none;
          }
        }
      }
      img{
        width: 20px;
        margin-bottom: -4px;
      }
      input {
        outline: none;
        border: none;
        font-size: 16px;
        margin: 9px 0;
        width: 100%;
        height: 31px
      }
    }
  }
}